<table>
  <caption>お気に入り一覧</caption>
  <%=link_to 'もどる', root_path, class:"btn" %>
  <tbody>
    <% @bookmark.each do |bookmark| %>
      <tr>
        <td><%= bookmark.item.user.nickname %></td>
        <td>
          <%= link_to item_path(bookmark.item) do %>
            <%= bookmark.item.title %>
          <% end %>
        </td>
         <td>
          <%= link_to item_path(bookmark.item) do %>
            <%=image_tag bookmark.item.image %>
          <% end %>
        </td>
    
      </tr>
    <% end %>
    
  </tbody>
</table>
<%=link_to 'もどる', root_path, class:"btn" %>