<table>

  <div>お気に入り一覧</div>
  
  <%=link_to 'もどる', root_path, class:"btn" %>
  

  
    <% @bookmark.each do |bookmark| %>
    <% if bookmark.user_id == current_user.id%>
    <tbody>
      <tr>
        <td>出品者<%= bookmark.item.user.nickname %></td>
        <td>
          <%= link_to item_path(bookmark.item) do %>
            商品名<%= bookmark.item.title %>
          <% end %>
        </td>
         <td>
          <%= link_to item_path(bookmark.item) do %>
            <%=image_tag bookmark.item.image %>
          <% end %>
        </td>
    
      </tr>
      </tbody>
    <% end %>
  <% end %>
</table>
